@model LoginViewModel

<div class="login-page" style="padding-top: 100px;">

    <partial name="_ValidationSummary" />

    <div class="row" style="align-items: center !important; justify-content: center !important;">



        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-header">
                        <a href="#" style="align-items: center !important;justify-content: center !important;position: relative !important;display: flex !important;">
                            <img src="~/logo-minedu.png" class="icon-banner" width="220px" height="50px">
                        </a>
                        <h4 style="text-align: center;padding-top: 10px;">Inicie Sesión</h4>
                    </div>

                    <div class="card-body">
                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <div class="form-group">
                                <label asp-for="Username">Codigo</label>
                                <input class="form-control" placeholder="Codigo" asp-for="Username" autofocus>

                            </div>
                            <div class="form-group">
                                <label asp-for="Password">Contraseña</label>
                                <input type="password" class="form-control" placeholder="Contraseña" asp-for="Password" autocomplete="off">
                            </div>
                            @if (Model.AllowRememberLogin)
                            {
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="RememberLogin">
                                        <label class="form-check-label" asp-for="RememberLogin">
                                            Recordar mi inicio de sesión
                                        </label>
                                    </div>
                                </div>
                            }
                            <div class="form-group text-right">
                                @Html.ActionLink("¿Olvidaste tu contraseña?", "RedirectToForgot", "Account", null, new { target = "_blank" })
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block" name="button" value="login">Ingresar</button>
                                @*<input type="submit" class="btn btn-lg btn-primary btn-block" value="Iniciar Sesión">
                            @Html.ActionLink("Con DNIe / Token", "DNIE", "Login", new { ReturnUrl = @ViewBag.ReturnUrl }, new { @class = "btn btn-lg btn-primary btn-block" })*@

                            </div>
                            <div class="form-group text-center">
                                ¿Deseas activar tu cuenta?, @Html.ActionLink("Ingresa aquí", "RedirectToApp", "Account", null, new { target = "_blank" })
                            </div>
                             
                        </form>
                    </div>


                </div>
            </div>
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>External Account</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li class="list-inline-item">
                                    <a class="btn btn-secondary"
                               asp-controller="External"
                               asp-action="Challenge"
                               asp-route-scheme="@provider.AuthenticationScheme"
                               asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Credenciales invalidas</strong>
                There are no login schemes configured for this request.
            </div>
        }
    </div>
</div>